<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="300">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<main class="container">
<h1>{{ title }}</h1>
<form action="/" method="get">
<input type="text" name="query" placeholder="Search locations..." value="{% if query %}{{query}}{% endif %}" />

<select name="borough" id="borough">
  <option value=""{% if not curr_borough %} selected{% endif %}>Select a borough...</option>
    {% for borough in boroughs %}
    <option value="{{ borough }}"{% if curr_borough == borough %} selected{% endif %}>{{ borough|title}}</option>
    {% endfor %}
</select>
<input type="submit" value="submit" />
</form>

<span>results: {{ cameras.total }}</span><br />

<br />
{% include 'page_nav.jinja' %}
<br />

<!-- span>num_pages: {{ cameras.num_pages }}</span><br />
<span>curr_page_num: {{ cameras.curr_page_num }}</span><br / -->

<br />
{% for row in cameras.rows|batch(3) %}
    <div class="grid">
    {% for column in row %}
        <div>
        {{ column[0] }}<br />
        {{ column[1] }}<br />
        <img src="{{ column[2] }}?rand={{ random_sec }}">
        </div>
    {% endfor %}
    </div>
{% endfor %}
<br />

{% include 'page_nav.jinja' %}
</main>
</body>
</html>