{% for nav_item in cameras.navigation%}
    {% if not nav_item.is_active %}
        <a href="/?borough={{ curr_borough }}&query={{ query }}&start={{nav_item.start_item}}">{{ nav_item.display }}</a>
    {% else %}
        {{ nav_item.display }}
    {% endif %}
{% endfor %}